<div class="Doner-form">


    <form class="form-container">

        <h1 style="color: red">خوین بەخش</h1>


        <div class="doner-container">
            <input class="user_name" type="text">
            <label>ناوی بةكارهينةر  </label>
        </div>


        <div class="doner-container">
            <input type="text">
            <label>ناوی چوارینەی خوین بەخش</label>
        </div>

        <div class="doner-container">
            <input type="text">
            <label>ناوى دايك</label>
        </div>

        <div class="doner-container">
            <input type="text">
            <label>لە دایک بووی</label>
        </div>

        <div class="doner-container">
            <input type="text">
            <label>پیشە</label>
        </div>


        <div class="doner-container">
            <input type="text">
            <label>ناونيشان</label>
        </div>

        <div class="doner-container">
            <input type="text">
            <label>ژمارەی مۆبایل</label>
        </div>

        <div class="doner-container">
            <select>
                <option>B+</option>
                <option>A+</option>
                <option>O+</option>
                <option>AB+</option>
                <option>B-</option>
                <option>A-</option>
                <option>O-</option>
                <option>AB-</option>
            </select>
            <label> جۆری خوین</label>
        </div>

        <div class="doner-container">
            <input type="text">
            <label>ژمارەی ناسنامە</label>
        </div>

        <div class="doner-container" style="position: relative;
                 left: 120px;">
            <input type="radio" name="gender" value="female">می
            <br>
            <input type="radio" name="gender" value="male"> نیر
            <label>ڕەگەز</label>
        </div>



        <div class="doner">
            <input type="checkbox"> بەخشین<br>
            <input type="checkbox"> لە جیاتی خوین<br>
            <input type="checkbox"> لە جیاتی قەرز<br>
            <input type="checkbox"> رەسید هەیە<br>
            <input type="checkbox"> رەسید نییە<br>
            <label>جۆری خوین بەخشین</label>
        </div>


        <div class="doner-container">
            <input type="date">
            <label> بەرواری دواین خوێن بەخشین</label>
        </div>

        <div class="doner-container">
            <input type="text">
            <label>ڕێکخەری فۆرم </label>
        </div>


        <div>
            <button type="button" class="btn btn-danger ">submit</button>
        </div>

    </form>
</div>