<h1 class="list-h1">نەخۆش </h1>

<div class="input-group mb-3 search-div" style="width: 30%">
  <select class="custom-select" id="inputGroupSelect02">
    <option selected>A+</option>
    <option value="1">B+</option>
    <option value="2">O+</option>
    <option value="3">AB+</option>
    <option value="4">A-</option>
    <option value="5">B-</option>
    <option value="6">O-</option>
    <option value="7">AB-</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">جؤري خوين</label>
  </div>
</div>



<div class="Search-btn">
  <button type="button" class="btn btn-success">گەڕان</button>
</div>

<table class="table table-striped table-light Doner-table">
  <thead>
    <tr>




      <th scope="col">كردار</th>
      <th scope="col">رەگەز</th>
      <th scope="col">کات</th>
      <th scope="col">شوین</th>
      <th scope="col">جۆری خوین</th>
      <th scope="col">تەمەن</th>
      <th scope="col">ناو</th>
      <th scope="col">ایدی</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>
        <i class="fa fa-trash fa-lg delet"></i>
        <i class="fa fa-edit fa-lg edit"></i>
      </td>
      <td>مێ</td>
      <td>٢٣/١٠/٢٠١٩</td>
      <td>هەولێر</td>
      <td>B+</td>
      <td>٢٠</td>
      <td>ژیلە سەردار</td>
      <th scope="row">1</th>

    </tr>
    
    <tr>

      <td>
        <i class="fa fa-trash fa-lg delet"></i>
        <i class="fa fa-edit fa-lg edit"></i>
      </td>
      <td>مێ</td>
      <td>٢٣/١٠/٢٠١٩</td>
      <td>هەولێر</td>
      <td>B+</td>
      <td>٢٠</td>
      <td>ژیلە سەردار</td>
      <th scope="row">1</th>

    </tr>
  </tbody>
</table>