<h1 class="list-h1">نەخۆش </h1>

<div class="input-group mb-3 search-div" style="width: 30%">
  <select class="custom-select" id="inputGroupSelect02">
    <option selected>A+</option>
    <option value="1">B+</option>
    <option value="2">O+</option>
    <option value="3">AB+</option>
    <option value="4">A-</option>
    <option value="5">B-</option>
    <option value="6">O-</option>
    <option value="7">AB-</option>
  </select>
  <div class="input-group-append">
    <label class="input-group-text" for="inputGroupSelect02">جؤري خوين</label>
  </div>
</div>



<div class="Search-btn">
  <button type="button" class="btn btn-success">گەڕان</button>
</div>

<table class="table table-striped table-light Doner-table">
  <thead>
    <tr>




      <th scope="col">كردار</th>
      <th scope="col">رەگەز</th>
      <th scope="col">`ژمارەی مۆبایل</th>
      <th scope="col">نەخۆشخانە</th>
      <th scope="col">شوین</th>
      <th scope="col">ناو</th>
      <th scope="col">ایدی</th>

    </tr>
  </thead>
  <tbody>
    <tbody *ngFor="let Blood of Patient | BloodFilter:searchTerm">
        <tr>
            <td>
                <button class="btn btn-success circl"><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger circl" id="remove" (click)="deleteRow(Blood.id)"><i class="fa fa-trash-o"></i></button>
            </td>
            <td>{{Blood.gender}}</td>
            <td>{{Blood.phoneNumber}}</td>
            <td>{{Blood.hospitalName}}</td>
            <td>{{Blood.location}}</td>
            <td>{{Blood.fullName}}</td>
            <td>{{Blood._id}}</td>
        </tr>
</table>