<div class="Doner-form">

    
    <form class="form-container">
  
        <h1 style="color: red">نەخۆش </h1>
  
        <div class="doner-container">
            <input type="text">
            <label>ناوی چوارینەی نەخۆش </label>
        </div>
  
        <div class="doner-container">
            <input type="text">
            <label>ناوى دايك</label>
        </div>
  
        <div class="doner-container">
            <input type="text">
            <label>لە دایک بووی</label>
        </div>
  
  
        <div class="doner-container">
            <input type="text">
            <label>ناوی نەخۆشخانە</label>
        </div>
  
        <div class="doner-container">
            <input type="text">
            <label>ژمارەی مۆبایل</label>
        </div>
  
        <div class="doner-container">
            <input type="text">
            <label>ژمارەی ناسنامە</label>
        </div>
  
        <div class="doner-container" style="position: relative;
             left: 120px;">
            <input type="radio" name="gender" value="female">می
            <br>
            <input type="radio" name="gender" value="male"> نیر
            <label>ڕەگەز</label>
        </div>
  
  
  
  
  
            <div>
                <button type="button" class="btn btn-danger ">submit</button>
            </div>
  
    </form>
  </div>