    <div class="row" id="dashbords">
        <div class="col-6 dashbords">
            <div class="card">
                <div class="card-body text-center">
                    <canvas id="PieChart1" class="chartjs-render-monitor piechart"></canvas>
                </div>
            </div>
        </div>


        <div class="col-6 dashbords">
            <div class="card">
                <div class="card-body text-center">
                    <canvas id="PieChart2" class="chartjs-render-monitor piechart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-6 dashbords">
            <div class="card">
                <div class="card-body text-center">
                    <canvas id="barchart1" class="chartjs-render-monitor piechart"></canvas>
                </div>
            </div>
        </div>


        <div class="col-6 dashbords">
            <div class="card">
                <div class="card-body text-center">
                    <canvas id="barchart2" class="chartjs-render-monitor piechart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-6 dashbords">
            <div class="card">
                <div class="card-body text-center">
                    <canvas id="PieChart3" class="chartjs-render-monitor piechart"></canvas>
                </div>
            </div>
        </div>


        <div class="col-6 dashbords">
            <div class="card">
                <div class="card-body text-center">
                    <canvas id="PieChart4" class="chartjs-render-monitor piechart"></canvas>
                </div>
            </div>
        </div>

        </div>